body {
    font-family: sans-serif;
    background-color: ligthgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 301px;
}

.container{
   max-width: 800px;
   margin: 0 auto;
   color: #565252;
   font-family: sans-serif;
            
     
 }
           